:root {
    --theme-colour: #D80073;
    --accent-colour: #DAE8FC;
}

.body {
    background-color: white;
}

.nav {
    margin: 10px, 10px, 10px, 10px;
    border: 60px, 60px, 20px, 20px;
    background-color: var(--theme-colour);
    display: block;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 4%;
    padding-bottom: 2px;
    padding-left: 1%;
}

.h1bcg {
    background-color: #DAE8FC;
    width: 10px;
    height: 20px;
    text-align: right;
}

.h1 {
    width: 300px;
    height: 50px;
    background-color: var(--accent-colour);
    font-family: cursive;
    font-style: oblique;
    font-size: 30px;
    padding: 10px 20px;

}

.ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    color: var(--accent-colour);
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-color: var(--accent-colour);
    text-decoration-thickness: 3px;
    padding-left: 50%;
    padding-bottom: 2%;
}

.box0 {
    position: relative;
}

.heroimg {
    width: 100%;
    height: 320px;
    object-fit: cover
}

.h3tag {
    position: absolute;
    background-color: #DAE8FC;
    bottom: 20px;
    right: 20px;
    color: black;
    padding: 10px;
    margin: 1%;
    font-size: 20px;
}

.aboutme,
.work,
.contactme {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.aboutmeheading,
.workheading, .contactmeheading{
    font-size: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 20%;
    justify-content: flex-end;
    margin-right: 2%;
}

.verticalline {
    border-left: 6px solid var(--accent-colour);
    height: 300px;
    margin-left: 10%;
}

.aboutmetext {
    font-size: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 70%;
    justify-content: flex-end;
    line-height: 1.5;
}

.imgsection {
    font-size: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 70%;
    justify-content: flex-start;
    line-height: 1.5;
}

.verticallinework {
    border-left: 6px solid var(--accent-colour);
    height: 965px;
    margin-left: 10%;
}

.mainworkimage {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
    margin-bottom: 1%;
}

.additionalimgs {
    display: flex;
    flex-direction: row;
    width: 100%;

}

.vrsnimgupdate {
    width: 100%;
    height: 500px;
    border: solid;
    color: var(--accent-colour);
}


.imgalgnmt {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;

}

.test {
    width: 49.5%;
    position: relative;
}

.addtlimgspecs {
    width: 100%;
    height: 220px;
    border: solid;
    color: var(--accent-colour);
}

.htmlcsstag {
    position: absolute;
    background-color: #DAE8FC;
    bottom: 20px;
    color: black;
    padding: 10px;
    font-size: 20px;
}

.verticallinecontact {
    border-left: 6px solid var(--accent-colour);
    height: 90px;
    margin-left: 10%;
}

.contactmemenu {
    width: 70%;
    font-size: 150%;
    text-decoration: underline;
    text-decoration-color: black;
    justify-content: space-between;
    margin-top: 3%;
    }

    .contactitems{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
       }

@media screen and (min-width: 1056px) {
    #allcategories {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
}