:root {
    --theme-colour: #D80073;
    --accent-colour: #DAE8FC;
}

.body {
    background-color: white;
}

.nav {
    margin: 10px, 10px, 10px, 10px;
    border: 60px, 60px, 20px, 20px;
    background-color: var(--theme-colour);
    display: block;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 4%;
    padding-bottom: 1%;
    padding-left: 1%;
}

.h1bcg {
    background-color: #DAE8FC;
    width: 10px;
    height: 20px;
    text-align: right;  
      
}

.h1 {
    width: 300px;
    height: 50px;
    background-color: var(--accent-colour);
    font-family: cursive;
    font-style: oblique;
    font-size: 30px;
    padding: 10px 20px;
    
}

.ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    color: var(--accent-colour);
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-color: var(--accent-colour);
    text-decoration-thickness: 3px;
    padding-left: 50%;
    padding-bottom: 2%;
}

img {
    width: 100%;
    height: 320px;
    object-fit:cover

}

.boxes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;

}

.box1 {
    margin: 50px;
    width: 200px;
    height: 200px;
    background-color: rgb(252, 250, 250);
}

.box2 {
    margin: 50px;
    width: 200px;
    height: 200px;
    background-color: rgb(249, 250, 248);
}

.box3 {
    margin: 50px;
    width: 200px;
    height: 200px;
    background-color: rgb(253, 252, 252);
}

.box4 {
    margin: 50px;
    width: 200px;
    height: 200px;
    background-color: rgb(248, 245, 250);
}

@media screen and (min-width: 1056px) {
    #allcategories {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;

    }

    #categorycards {
        width: 75%;
        box-sizing: border-box;
        border: 0px;
        color: blu;
        border-style: solid;
    }

    #asidecards {

        width: 25%;
        float: right;
        font-style: italic;
        background-color: lightgray;

    }
}