:root {
    --theme-colour: #D80073;
    --accent-colour: #DAE8FC;
}

.body {
    background-color: white;
}

.nav {
    margin: 10px, 10px, 10px, 10px;
    border: 60px, 60px, 20px, 20px;
    background-color: var(--theme-colour);
    display: block;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 4%;
    padding-bottom: 2px;
    padding-left: 1%;
}

.h1bcg {
    background-color: #DAE8FC;
    width: 10px;
    height: 20px;
    text-align: right;
}

.h1 {
    width: 300px;
    height: 50px;
    background-color: var(--accent-colour);
    font-family: cursive;
    font-style: oblique;
    font-size: 30px;
    padding: 10px 20px;

}

.ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    color: var(--accent-colour);
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-color: var(--accent-colour);
    text-decoration-thickness: 3px;
    padding-left: 50%;
    padding-bottom: 2%;
}

.box0 {
    position: relative;
}

.heroimg {
    width: 100%;
    height: 320px;
    object-fit: cover
}

.h3tag {
    position: absolute;
    background-color: #DAE8FC;
    bottom: 20px;
    right: 20px;
    color: black;
    padding: 10px;
    margin: 1%;
    font-size: 20px;
}

.aboutme,
.work,
.contactme {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.aboutmeheading,
.workheading,
.contactmeheading {
    font-size: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    width: 20%;
    justify-content: flex-end;
    margin-right: 2%;
}

.verticalline {
    border-left: 6px solid var(--accent-colour);
    height: 300px;
    margin-left: 10%;
}

.aboutmetext {
    font-size: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 70%;
    justify-content: flex-end;
    line-height: 1.5;
}

.imgsection {
    font-size: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 70%;
    justify-content: flex-start;
    line-height: 1.5;
}

.verticallinework {
    border-left: 6px solid var(--accent-colour);
    height: 965px;
    margin-left: 10%;
}

.mainworkimage {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 1%;
    background-color: ;
}

.vrsnimgupdate {
    position: relative;
    width: 100%;
    height: 500px;
    border: solid;
    color: var(--accent-colour);
}

.htmlcsstag {
    position: absolute;
    background-color: #DAE8FC;
    bottom: 20px;
    color: black;
    padding: 10px;
    font-size: 20px;
}

.additionalimgs {
    display: flex;
    flex-direction: row;
    width: 100%;

}

.imgalgnmt {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    position: relative;

}

.test {
    width: 49.5%;
}

.addtlimgspecs {
    width: 100%;
    height: 220px;
    border: solid;
    color: var(--accent-colour);
}



.verticallinecontact {
    border-left: 6px solid var(--accent-colour);
    height: 90px;
    margin-left: 10%;
}

.contactmemenu {
    width: 70%;
    font-size: 24px;
    text-decoration: underline;
    text-decoration-color: black;
    justify-content: space-between;
    margin-top: 3%;

}

.contactitems {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer {
    font-size: 20px;
    margin-top: 2%;
    height: 100px;
    text-align: center;
    font-weight: bolder;
    padding: 40px;
    background-color: var(--theme-colour);
}

/* Extra small devices (phones, 600px and down) */
@media screen and (max-width: 600px) {

    .h1bcg {
        width: 0px;
        height: 60px;
        text-align: right;
    }

    .h1 {
        width: 230px;
        font-size: 22px;
        height: 40px;
    }

    .ul {
        padding-left: 0%;
    }

    .nav {
        font-size: 10px;
        padding-bottom: 5px;
    }

    .heroimg {
        height: 200px;
    }

    .h3tag {
        font-size: 12px;
    }

    .aboutme,
    .work,
    .contactme {
        flex-direction: column;
        align-items: center;
    }

    .aboutmeheading,
    .workheading,
    .contactmeheading {
        font-size: 20px;
        text-decoration: underline;
        justify-content: center;
    }

    .verticalline,
    .verticallinework,
    .verticallinecontact {
        display: none;
    }

    .aboutmetext {
        font-size: 15px;
        margin: 8%;
    }

    .imgsection {
        width: 96%;
        margin: 4%;
    }

    .vrsnimgupdate {
        height: 180px;
    }

    .htmlcsstag {
        font-size: 12px;
    }

    .imgalgnmt {
        display: flex;
        flex-direction: row;
    }

    .contactmemenu {
        width: 95%;
        font-size: 11px;
    }

    .footer {
        height: 80%;
        font-size: 16px;
    }
}

/* Small devices (large phones and portrait tablets, 601px and up) */
@media screen and (max-width: 768px) {
    .h1bcg {
        width: 0px;
        height: 60px;
        text-align: right;
    }

    .h1 {
        width: 230px;
        font-size: 22px;
        height: 40px;
    }

    .ul {
        padding-left: 0%;
    }

    .nav {
        font-size: 12px;
        padding-bottom: 5px;
    }

    .heroimg {
        height: 200px;
    }

    .h3tag {
        font-size: 12px;
    }

    .aboutme,
    .work,
    .contactme {
        flex-direction: column;
        align-items: center;
    }

    .aboutmeheading,
    .workheading,
    .contactmeheading {
        font-size: 30px;
        text-decoration: underline;
        justify-content: center;
    }

    .verticalline,
    .verticallinework,
    .verticallinecontact {
        display: none;
    }

    .aboutmetext {
        font-size: 15px;
        margin: 8%;
    }

    .imgsection {
        width: 96%;
        margin: 4%;
    }

    .vrsnimgupdate {
        height: 300px;
    }

    .htmlcsstag {
        font-size: 15px;
    }

    .imgalgnmt {
        display: flex;
        flex-direction: row;

    }

    .contactmemenu {
        width: 95%;
        font-size: 11px;
    }

    .footer {
        height: 80%;
        font-size: 16px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media screen and (max-width: 1200px) {
    .h1bcg {
        text-align: right;
    }

    .h1 {
        width: 280px;
        font-size: 26px;

    }

    .nav {
        font-size: 14px;
        padding-bottom: 5px;
    }

    .heroimg {
        height: 200px;
    }

    .h3tag {
        font-size: 14px;
    }

    .aboutme,
    .work,
    .contactme {
        flex-direction: column;
        align-items: center;
    }

    .aboutmeheading,
    .workheading,
    .contactmeheading {
        font-size: 30px;
        text-decoration: underline;
        justify-content: center;
    }

    .verticalline,
    .verticallinework,
    .verticallinecontact {
        display: none;
    }

    .aboutmetext {
        font-size: 15px;
        margin: 2%;
    }

    .imgsection {
        width: 96%;
        margin: 4%;
    }

    .vrsnimgupdate {
        height: 450px;
    }

    .htmlcsstag {
        font-size: 15px;
    }

    .imgalgnmt {
        display: flex;
        flex-direction: row;

    }

    .contactmemenu {
        width: 95%;
        font-size: 14px;
    }

    .footer {
        height: 80%;
        font-size: 18px;
    }
}